- if (params['controller'] == 'products') and (template = template_for_current_view).present?
  = render(template, :product => product)
- else
  -# default view
  = render 'products/index_long', :product => product
